# generated
/dist
/stubs
/libs/Telegram.stripped.jar

# Python
__pycache__/
.ruff_cache/
*.py[oc]
wheels/
*.egg-info
.venv

# Kotlin
/build
/buildSrc/build

/.kotlin/
/buildSrc/.kotlin

# IDEA
*.iml
/.idea/

# bruh
.DS_Store
/captures
/.claude/

# Gradle
.gradle
local.properties

